<div>
  <nz-table #colSpanTable [nzData]="listOfData" nzBordered>
    <thead>
      <tr>
        <th>监测对象</th>
        <th>监测频次</th>
        <th>应检人次</th>
        <th>当日实检</th>
        <th>当周实检</th>
        <th>当月实检</th>
        <th>数据来源</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of colSpanTable.data; index as i">
        <td>{{ data.jcdx }}</td>
        <td>{{ data.jcpc }}</td>
        <td>{{ data.yjrc }}</td>
        <td>{{ data.drsj }}</td>
        <td>{{ data.dzsj }}</td>
        <td>{{ data.dysj }}</td>
        <td>{{ data.sjly }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
